<!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top" style="background-color: rgb(4, 4, 238)">
      <div class="container">
        <a class="navbar-brand" href="/">Apepe's Garage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jasaservis">Jasa Servis</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sparepart">Spare Part</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aksesoris">Aksesoris</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Logout</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>
   
  <script>
  const btnDelete= document.querySelectorAll('.btn-delete');
  if(btnDelete) {
    const btnArray = Array.from(btnDelete);
    btnArray.forEach((btn) => {
      btn.addEventListener('click', (e) => {
        if(!confirm('Are you sure you want to delete it?')){
          e.preventDefault();
        }
      });
    })
  }
    
  $(document).ready(function() {
      $('#example').DataTable({     
        "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
          "iDisplayLength": 3
        } 
      );
  } );
    
  </script>
<!-- Akhir Navigation bar -->
