{% extends 'layout.html' %} {% block title %} Jasa Servis {% endblock %} {% block body %}
<!-- Jumbotron -->
<section class="jumbotron text-center" style="background-color: #fff689">
	<img src={{url_for ('static', filename = "img/garage.jpg")}} alt="Spare Parts" width="350px">
	<h1 class="display-4">Jasa Servis</h1>
	<p class="lead">Melakukan servis yang dibutuhkan Anda!</p>

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Tambahkan Barang</button>
	<table class="table table-primary table-striped">
		<thead>
			<tr class="table table-primary table-striped">
				<th scope="col">#</th>
				<th scope="col">Id</th>
				<th scope="col">Nama Jasa</th>
				<th scope="col">Harga</th>
				<th scope="col">Aksi</th>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr class="table table-primary table-striped">
				<th scope="row">1</th>
				<td>{{ row.0 }}</td>
				<td>{{ row.1 }}</td>
				<td>{{ row.2 }}</td>
				<td>
					<a href="/update" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalEdit{{ row.0 }}">Edit</a>
					<a href="/hapus/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Yakin ingin hapus?')">Hapus</a>
				</td>
			</tr>

			<!-- Modal -->
			<div id="#modalEdit{{ row.0 }}" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>

							<h4 class="modal-title">Edit Data</h4>
						</div>

						<div class="modal-body">
							<form action="{{ url_for('update') }}" method="POST">
								<div class="form-group">
									<label>Nama:</label>

									<input type="hidden" name="nama" value="{{ row.0 }}" />
									<label>Harga:</label>
									<input type="text" class="form-control" name="nama" value="{{ row.2 }}" />
								</div>
								<div class="form-group">
									<button class="btn btn-warning" type="submit">Update</button>
								</div>
							</form>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</tbody>
	</table>

	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path
			fill="#ffff"
			fill-opacity="1"
			d="M0,64L48,90.7C96,117,192,171,288,202.7C384,235,480,245,576,224C672,203,768,149,864,106.7C960,64,1056,32,1152,48C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
		></path>
	</svg>
</section>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="Jasa">Tambahkan Jasa</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('simpan') }}" method="POST">
					<div class="form-group">
						<label>Nama:</label>
						<input type="text" class="form-control" nama="nama" />
					</div>
					<div class="form-group">
						<label>Harga:</label>
						<input type="text" class="form-control" harga="harga" />
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Akhir Jumbotron -->
{% endblock %}
