{% extends 'layout2.html' %} {% block title %} Sign Up {% endblock %} {% block body %}
<!-- Jumbotron -->

<section class="jumbotron text-center" style="background-color: #fff689">
	<h1 class="display-4">Login</h1>
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="row text-center mb-3"></div>
		</div>
	</div>
	<form action="{{url_for('login')}}" , method="POST">
		<div>
			{{ form.username(class_='form-control', placeholder='Username', autocomplete='off', autofocus=true)}}
			<ul>
				{% for error in form.username.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			{{ form.password(class_='form-control', placeholder='Password')}}
			<ul>
				{% for error in form.password.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>

		<div>{{form.login_button}}</div>

		{{form.csrf_token}}
	</form>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path
			fill="#ffff"
			fill-opacity="1"
			d="M0,64L48,90.7C96,117,192,171,288,202.7C384,235,480,245,576,224C672,203,768,149,864,106.7C960,64,1056,32,1152,48C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
		></path>
	</svg>
	{{form.csrf_token}}
</section>
<!-- Akhir Jumbotron -->
{% endblock %}
